



.header{
    width: 1366px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    margin: 10px 240px;

}
.l-header{
    display: flex;
    gap: 20px;
}
.nav{
    margin-right: 240px;
}
.nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
    
    

}
.nav ul li{
    list-style-type: none;
}
.nav a{
    text-decoration: none;
    
}
.btn-head{
     border: 1px solid #fff;
    border-radius: 8px;
    

}

    /* banner style */

 .main{
    width: 1366px;
    margin:10px 240px;
    /* background-color: lightgray; */
    background-color:"4283586137";
    
    
 }  
 
 .banner{
    width: 1366px;
    height: 800px;
    display: flex;
    justify-content: space-around;
    margin:10px 240px;
 }
 .banner-container{
    width: 443px;
    height: 800px;
    font-size: 2rem;
    margin:0 auto;
    

 }

 .banner img{
    margin:0 auto;
    
 }


      /* funny video */
      